video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .LandingBG{
    background-image: url('../../public/asserts/bg_sainpse_art.png');
    background-size: cover;
    background-position: center;
    height: 100vh;

  }
  