
.SideNav-container {
    position:absolute !important;
    background-color: rgba(10, 73, 60, 0.928);
    border-bottom-right-radius:50%;
    border-top-right-radius:1%;
    top: 50% !important;
    left: 0;
    z-index: 1;
    padding-top: 50%;
    padding-bottom: 50%;
    transform: translateY(-50%);
}

.About{
    height: 80% !important;
    background-color: rgba(36, 157, 133, 0.998) !important;
    opacity: 0.9 !important;
    text-align: center;
    border-top-color: rgba(10, 73, 60, 0.928) !important;
    border-top-width: 10px !important;
    border-top-style: double;
  }

  .AboutValues{
    
    text-align: center;

  }

  .AboutMissionContent{
    margin: 60px;
  }

